<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TSocial Mobile App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity_Recycler_Reportes"
                android:label="Reportes por Alumno"></activity>
        <activity android:name=".Activity_Reportes"
                android:label="Genera Un Reporte"/>
        <activity
            android:name=".ActivityMuestraAlumno"
            android:label="Muestra Alumno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_Recycler_Alumnos"
                android:label="Alumnos Por Escuela"/>
        <activity android:name=".ActivityRecyclerEscuelas"
                android:label="Escuelas"/>
        <activity android:name=".Borrame" />
        <activity
            android:name=".ActivityRegistro"
            android:label="Registro" />
        <activity
            android:name=".ActivityLogin"
            android:label="Iniciar Sesion" />
        <activity android:name=".MainActivity"
                android:label="TSocial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>